nav {
    overflow: hidden;
    background-color:antiquewhite;
    font-family: "Monotype Corsiva";
}
nav li{
    float: left;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 8px;
    display: block;
    transition: 0.5s;
}
nav a:hover{
    background-color: darksalmon;
}
.palagraph1{
    width: 500px;
    margin: auto;
}
.rightning {
    float: right;
    list-style-type: none;
}
.mainpage{
    font-size:18px;
}
.palagraph1 h1{
    font-family: "Monotype Corsiva";
    text-align: center;
    color:black;
    padding: 0.5em 0;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}
